:root {
    --white: hsl(0, 0%, 100%);
    --yellow: hsl(47, 88%, 63%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
  }
@media (max-width: 767px) {
    .blog-outer-container {
        width: 70%;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 11px;
    }

    h3 {
        font-size: 14px;
    }
    
    h4 {
        font-size: 16px;
    }

    p {
        font-size: 20px;
    }
}

/* Styles for the inner container of the blog post */
.blog-inner-container {
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Styles for images inside the blog inner container */
.blog-inner-container img {
    width: auto;
    max-height: 50vh;
    border-radius: 20px;
}

/* Styles for the container representing a user profile */
.profile-container {
    width: auto;
    display: flex;
    align-items: center;
    padding: /* top */ 10px /* right */ 0 /* bottom */ 10px /* left */ 0;
}

/* Styles for images inside the profile container */
.profile-container img {
    max-width: 50px;
    height: auto;
    margin-right: 20px;
}

/* Styles for the attribution section */
.attribution { 
    font-size: 16px; 
    text-align: center;
    position: relative;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0; 
    padding: /* top */ 0px /* right */ 0 /* bottom */ 20px /* left */ 0;
    color: hsl(0, 0%, 7%)
}

/* Styles for links within the attribution section */
.attribution a { 
    color: hsl(228, 45%, 44%);
}

  

  

  .body{
    height: 100%;
    background-color: var(--yellow);
  }

  body {
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
    font-size: clamp(0.8rem, 2vw, 1rem);
  }

  .main-layout{
    height: 800px;
    width: 600px;
    color: var(--white);
    border: 1px var(--black);
    border-radius: 20px;
    background-color: var(--white);
    margin-top: 4rem;
    box-shadow: 10px 10px black ;
    max-width:100%  

    
}

.image-1{
 border-radius: 10px;
 margin-left: 30px;
 margin-top: 30px;
 height: 325px;
 place-items: center;
 
}
.heading{
  background-color: var(--yellow);
  height: 45px;
  width: 25%;
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 10px;
}
.learning{
  color: var(--black);
  font-size: larger;
  margin-left: 20px;
  padding-top: 10px;
  font-weight: bold;
  padding-left: 10px;
}

.subtitle{
  color: var(--black);
  font-weight: bold;
  margin: 25px;
  font-size: larger;
}

.heading-2{
  color: var(--black);
  margin-left: 25px;
  font-size: 40px;
  font-style: bold ;
}

.subtitle-2{
  color: hsl(0, 0%, 60%);
  font-size: 28px;
  font-weight: 400;
  margin-left: 25px;
}

.image-2{
  margin-left: 25px;
  padding-top: 40px;
 
}
.name{
  color: var(--black);
  margin-top: 60px;
  padding-left: 20px;
  font-weight: bolder;
}

.image{
  display: flex;
}




  
  
